@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

main {
  margin: 0px 100px 75px 100px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
}

.Header{
  background-color: #429198;
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  color: white;
  font-weight: bold;
  padding: 35px 100px 35px 100px;
  margin-left: -100px;
  margin-right: -100px;
}

h3{
  color: #429198;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 16px;
}
#t2{
  width:85%;
}
a{
  text-decoration: none; /* No underline*/
}

img{
  width: auto;
  height: 280px;
}

caption{
  width: 430px;
  font-size: 12px;
  line-height: 15px;
  text-align: left;
  margin-top:10px;
}

.text{
  font-size: 16px;
  line-height: 19px;
}

/* Visible Container*/

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;
}

.flex-container > div {
  margin: 10px;
}

#mainText{
  width: 50%;
}
#illustration{
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  margin-left: 60px;
  object-fit: cover;
  overflow: hidden;
}

/* Invisible Container*/

.chart{
  width: 60%;
}

.flex-container2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;
}

.flex-child {
    flex: 1;
}  

.flex-child:first-child {
    margin-right: 50px;
} 

#MP {
  border: 2px solid grey;
  background-color: white;
  color: grey;
  border-radius: 0px;
  width: 50%;
  text-align: left;
  padding-left: 20px;
}

button{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color:#429198;
  color: white;
  width:18%;
  height: 40px;
  border-radius: 7px;
  border: none;
  margin-top:12px;
}

div#chart-container {
  position: relative;
  margin: auto;
  height: 40vh;
  width: 32vw;
}


div.ChartHolder {
  background-color: white;
  height: 45vh;
  width: 45vw;
}

n{
  border-style: solid;
  border-color: lightgray;
  height: 50px;
}
canvas{
    margin-left: -5%;
  }
@media screen and (max-width: 1400px) {
  canvas{
    margin-left: -10%;
  }
}
@media screen and (max-width: 1200px) {
  canvas{
    margin-left: -20%;
  }
}
@media screen and (max-width: 900px) {
  .Header{
    text-align: center;
  }
  .flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-items: center;
  }
  #mainText{
  width: 70%;
  }
  #illustration{
    width: 70%;
    margin-left: 0px;
    align-self: center;
  }
  button{
    width:35%;
    height: 40px;
    border-radius: 7px;
}
  .flex-container2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-items: center;
  }
  .flex-child{
    width: 70%;
  }
  #t2 {
    margin-left: 0px;
    width: 100%;
  }
  #MP {
    margin-top: 0px;
    margin-bottom: 80px;
  }
  div.ChartHolder{
    height: 45vh;
    width: 40vh;
  }
  canvas{
    margin-left: -30%;
  }
}
@media screen and (max-width: 750px) {
  .flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-items: center;
  }
  #mainText{
  width: 100%;
  }
  #illustration{
    width: 100%;
    margin-left: 0px;
    align-self: center;
  }
  button{
    width:35%;
    height: 40px;
    border-radius: 7px;
}
  .flex-container2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-items: center;
  }
  .flex-child{
    width: 100%;
  }
  #t2 {
    margin-left: 0px;
    width: 100%;
  }
  #MP {
    margin-top: 0px;
    margin-bottom: 80px;
  }
  div.ChartHolder{
    height: 45vh;
    width: 40vh;
  }
  canvas{
    margin-left: -40%;
  }
}

@media screen and (max-width: 480px) {
  img{
    width: 350px;
    height: auto;
  }
  button{
    margin-left: 50px;
  }
  #mainText{
  width: 100%;
  }
  #illustration{
    width: 100%;
    margin-left: 0px;
    align-self: center;
  }
  button{
    width:45%;
    height: 40px;
    margin-left: 0px;
    border-radius: 7px;
  }
  .flex-child{
    width: 100%;
  }
  #t2 {
    margin-left: 0px;
    width: 100%;
  }
  #MP {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 80px;
  }
  div.ChartHolder{
    margin-left:10px;
    height: 40vh;
    width: 30vh;
  }
  canvas{
    margin-left: -50%;
  }
}

@media screen and (max-width: 480px) {
  img{
    width: 250px;
    height: auto;
  }
  .Header{
    margin-right: -150px;
}
}

@media screen and (max-width: 380px) {
  #mainText{
  width: 150%;
  }
  #illustration{
    width: 150%;
    margin-left: 0px;
    align-self: center;
  }
  #t2 {
    width: 150%;
  }
  img{
    width: 250px;
    height: auto;
  }
  canvas{
    margin-left: -80%;
  }
}

@media screen and (max-width: 300px) {
  .Header{
    margin-right: -200px;
  }
  #mainText{
  width: 250%;
  }
  #illustration{
    width: 250%;
    margin-left: 0px;
    align-self: center;
  }
  #t2 {
    width: 250%;
  }
  img{
    width: 200px;
    height: auto;
  }
  canvas{
    margin-left: -95%;
  }
}
@media screen and (max-width: 200px) {
  .Header{
    margin-right: -300px;
  }
  img{
    width: 150px;
    height: auto;
  }
  canvas{
    margin-left: -175%;
  }
}